* {
    margin: 0;
    padding: 0;
    font-family: "Nimbus Sans L";
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
}

#nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}

#nleft {
    display: flex;
    gap: 30px;
}

#nav a {
    display: inline-block;
    font-weight: 800;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

#nav #centeratag {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;
}

#sustain {
    width: 10vw;
}

#sustain p {
    text-transform: capitalize;
    font-weight: 800;
    opacity: .5;
    font-size: 12px;
    margin: 10px 0;
}

#sustain #susimagewrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vw;
}

#susimagewrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral {
    position: relative;
    width: 30vw;
    min-height: 42vw;
}

#imgntext {
    width: fit-content;
    height: fit-content;
}

#ephemeral img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral p {
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.3vw;
    letter-spacing: -.07vw;
    line-height: 1.3;
    width: 40%;
    top: 105%;
}

#ephemeral #headings {
    position: absolute;
    top: -22%;
    left: -20%;
} 

#ephemeral h1 {
    line-height: 1;
    letter-spacing: -.4vw;
    font-size: 6vw;
    font-weight: 400;
}

#visit {
    display: flex;
    gap: 10px;
    align-items: center;
}

#circlev {
    border-radius: 50%;
    border: 1px solid #5e5e5e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    background-color: white;
    transition: background-color 0.3s ease; 
}

#circlev:hover {
    background-color: black;
}

#circlev i {
    color: #5e5e5e;
}

#visit h3 {
    font-weight: 400;
    color: #5e5e5e;
}


#motive {
    margin-top: 7vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}

#motive h3 {
font-size: 2vw;
}

#motive p {
    line-height: 1.7;
    letter-spacing: -.12vw;
    position: relative;
    width: 85%;
    text-align: right;
    font-size: 2.1vw;
    right: 0;
}

#motive span {
    display: inline-block;
    border-radius: 100px;
    margin: 0 13px;
    margin-bottom: -12.5px;
}

#onespan {
    width: 70px;
    height: 35px;
    background: url(images/bluegirl.jpg);
    background-size: cover;
    background-position: 0% 60%;
}

#twospan {
    width: 90px;
    height: 40px;
    background: url(images/shaljam.jpg);
    background-size: cover;
    background-position: 0% 48%;
}

#threespan {
    width: 70px;
    height: 35px;
    background: url(images/grass.jpg);
    background-size: cover;
    background-position: 0% 60%;
}

#pictures {
    display: flex;
    justify-content: space-between;
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}

#firstpic {
    width: 17vw;
}

#firstpic #picimg {
width: 100%;
height: 24vw;
margin-bottom: 1vw;
}

#picimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#firstpic h1, #secpic h1 {
    font-weight: 100;
    letter-spacing: -.1px;
    font-size: 2vw;
}

#firstpic p, #secpic p {
    opacity: .8;
    font-size: 1vw;
    letter-spacing: -.07vw;
    line-height: 1;
    margin-top: 10px;
}

#secpic #picimg {
    width: 100%;
    height: 37vw;
    margin-bottom: 1vw;
}

#secpic {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#secpic p {
    width: 50%;
    text-align: right;
}

#banner {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8vw;
}

#bimg {
    width: 65%;
    height: 60vh;
    background-color: palevioletred;
}

#bimg img {
    width: 100%;
    height: 100%;
    object-position: 0% 70%;
    object-fit: cover;
}

#btext {
    width: 35%;
    padding: 0 3vw;
}

#btext h1 {
    font-size: 2.8vw;
    font-weight: 400;
    letter-spacing: -.15vw;
    line-height: 1;
}

#btext p {
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}

#future {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

#future video {
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: 20%;
    margin-bottom: 20px;
    transform: translate(-50%, -50%) scale(1.2);
}

#ftext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9999;
    background-color: #fff;
    padding: 1vw 2vw;
    border-radius: 10px;
    margin-top: 20%;
}


#ftext button {
    padding: .8vw 1.7vw;
    font-size: 1vw;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 10px;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    color: #6f6f6f;
}
